@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  @apply text-yellow-500 border-b-2 border-yellow-500;
}

@font-face {
  font-family: "BatmanForeverAlternate";
  src: url("../src/assets/fonts/batman_forever/batmfa__.ttf") format("truetype");
}

@font-face {
  font-family: "BatmanForeverOutline";
  src: url("../src/assets/fonts/batman_forever/batmfo__.ttf") format("truetype");
}

.batman-heading {
  font-family: "BatmanForeverAlternate", sans-serif;
}
